body
{font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
    font-size: larger;
}
h1 {
    background-color: rgb(205, 127, 0);
    color: rgb(90, 0, 90);
    text-align: center;
}
h3{
    background-color: black;
    color: bisque;
}